@font-face {
    font-family: 'TTHakgyoansimMabeopsaR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMabeopsaR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#head_logo > img{
    width: 100px;
}

#main_menu{
    display: flex;
}

#main_menu > li{
    margin: 0 20px;
}

#login_menu{
    display: flex;
}
#login_menu > li{
    margin: 0 20px;
    font-size: 20px;
}


.top_menu{
    display: flex;
    justify-content: space-between;
}

.header{
    font-family:'TTHakgyoansimMabeopsaR' ;
}

#loginview , #signupview ,#footer{
    width: 936px;
    margin: 10px auto;
    padding: 10px;
}

#loginview > input , #signupview > input {
    margin : 10 0px;
}
