{{>ezenweb/header}}
        <div class="container" id="loginview">
            <h3> 로그인 페이지 </h3>
            아이디 <input id="id" value="1234" /> <br/>
            비밀번호 <input id="pw" value="1234" /> <br/>
            <button onclick="login()">로그인</button>
            <a href="/member/signup">회원가입페이지 이동</a>
        </div>

        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/js/member.js"></script>
{{>ezenweb/footer}}