{{>ezenweb/header}}
<!--    <form action="/member/signup" method="post">혼자한거-->
<!--        아이디 <input name="id" /> <br/>-->
<!--        비밀번호 <input name="pw" /> <br/>-->
<!--        이름 <input name="name" /> <br/>-->
<!--        이메일 <input name="email" /> <br/>-->
<!--        phone <input name="phone" /> <br/>-->
<!--        img <input name="img" /> <br/>-->
<!--        <button type="submit">ㅇㅇㅇ</button>-->
<!--    </form>-->
    <form class = "signUpform">
<!--        <div id ="signupview">-->
            <h3> 회원가입 페이지</h3>
            <div> 아이디 </div>
            <input onkeyup="idCheck()" type="text" id="id" name="id"/> <br/>
            <div class="idcheckbox"> 유효성 검사결과 </div>
            <div>비밀번호</div>
            <input onkeyup = "pwcheck()" type="text" id="pw" name="pw"/> <br/>
            <div>비밀번호 확인 </div>
            <input onkeyup = "pwcheck()" type="text" id="pwconfirm" name="pwconfirm"/> <br/>
            <div class="pwcheckbox"> 유효성 검사결과 </div>
            <div>이름</div>
            <input onkeyup = "namecheck()" type="text" id="name" name="name"/> <br/>
            <div class="namecheckbox"> 유효성 검사결과 </div>
            <div>phone</div>
            <input onkeyup = "phonecheck()" type="text" id="phone" name="phone"/> <br/>
            <div class="phonecheckbox"> 유효성 검사결과 </div>
            <div>이메일</div>
            <input onkeyup = "emailcheck()" type="text" id="email" name="email"/> <br/>
            <div class="emailcheckbox"> 유효성 검사결과 </div>
            프로필 사진: <input onchange="preimg(this)" type="file" id="img" name="img" accept="image/*"/> <br/>
            <div><!--첨부파일 미리보기-->
                <img id ="preimg2" src=""/>
            </div>
            <button type="button" onclick="signup()">회원가입</button>
            <a href="/member/login">로그인페이지 이동</a>

<!--        </div>-->
    </form>
    <script src="/js/member.js"></script>

{{>ezenweb/footer}}