{{>ezenweb/header}}
<!--    <form action="/member/signup" method="post">혼자한거-->
<!--        아이디 <input name="id" /> <br/>-->
<!--        비밀번호 <input name="pw" /> <br/>-->
<!--        이름 <input name="name" /> <br/>-->
<!--        이메일 <input name="email" /> <br/>-->
<!--        phone <input name="phone" /> <br/>-->
<!--        img <input name="img" /> <br/>-->
<!--        <button type="submit">ㅇㅇㅇ</button>-->
<!--    </form>-->
<div class="container">
    <form class = "signUpform">
<!--        <div id ="signupview">-->
            <h3> 회원가입 페이지</h3>
            <p>회원가입을 통해 다양한 이벤트에 참여하세요</p>
            <div class="label"> 아이디 </div>
            <input onkeyup="idCheck()" type="text" id="id" name="id"/> <br/>
            <div class="idcheckbox checkbox"> 유효성 검사결과 </div>
            <div class="label">비밀번호</div>
            <input onkeyup = "pwcheck()" type="text" id="pw" name="pw"/> <br/>
            <div class="label">비밀번호 확인 </div>
            <input onkeyup = "pwcheck()" type="text" id="pwconfirm" name="pwconfirm"/> <br/>
            <div class="pwcheckbox checkbox"> 유효성 검사결과 </div>
            <div class="label">이름</div>
            <input onkeyup = "namecheck()" type="text" id="name" name="name"/> <br/>
            <div class="namecheckbox checkbox"> 유효성 검사결과 </div>
            <div class="label">phone</div>
            <input onkeyup = "phonecheck()" type="text" id="phone" name="phone"/> <br/>
            <div class="phonecheckbox checkbox"> 유효성 검사결과 </div>
            <div class="label">이메일</div>
            <div class="emailbox">
                <input onkeyup = "emailcheck()" type="text" id="email" name="email"/> <br/>
                <button type="button" disabled class="authreqbtn" onclick="authreq()"> 인증요청 </button>
            </div>
            <div class="authbox"> 

            </div>
            <div class="emailcheckbox checkbox"> 유효성 검사결과 </div>


            프로필 사진: <input onchange="preimg(this)" type="file" id="img" name="img" accept="image/*"/> <br/>
            <div><!--첨부파일 미리보기-->
                <img id ="preimg2" src=""/>
            </div>
            <button class="signupbtn" type="button" onclick="signup()">회원가입</button>
            <a href="/member/login">로그인페이지 이동</a>

<!--        </div>-->
    </form>
</div>
    <script src="/js/member.js"></script>

{{>ezenweb/footer}}