{{>ezenweb/header}}
    <div class="container">
        <div class="boardViewBox">
            <div> <span class="btitle">제목이 들어가는 자리</span></div>
            <div>
                <div> <span class="viewTitle"> 카테고리</span> <span class="bcno"></span></div>
                <div> <span class="viewTitle"> 작성자</span> <span class="mid"></span></div>
                <div> <span class="viewTitle"> 작성일</span> <span class="bdate"></span></div>
                <div> <span class="viewTitle"> 조회수</span> <span class="bview"></span></div>
            </div>
            <div class="bcontent">

            </div>
            <div>
                <div> <span> 첨부파일</span> <span class="bfile"></span></div>
            </div>
        </div>
        <div class="btnBox">
        <button class="boardBtn" type="button" onclick="location.href='/board'">목록보기</button>
        </div>
        <div class="replyBox">
            <div>
                <textarea class="brcontent0"></textarea>
                <button type="button" onclick="onReplyWrite(0)"> 댓글 작성 </button>
            </div>
            <div class="replyListBox">

            </div>
        </div>
    </div>

<script src="/js/board/view.js"></script>
{{>ezenweb/footer}}
