{{>layouts/header}}
    <button onclick="window.location='articles/new';">새 글 쓰기</button>
    <table border="1">
        <thead>
            <tr>
                <th> id </th>
                <th> title</th>
                <th> content </th>
            </tr>
        </thead>
        <tbody>
            {{#article}}
                <tr onclick="window.location='/articles/{{id}}';" style="cursor:pointer;">
                    <td>{{id}}</td>
                    <td>{{title}}</td>
                    <td>{{content}}</td>
                </tr>
            {{/article}}
        </tbody>
    </table>
{{>layouts/footer}}
